body {
    margin: 0;
    padding: 20px;
    background-color: #050816;
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e7eb;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    border-bottom: 1px solid #1f2937;
    background-color: #050816;
}

.logo {
    font-weight: bold;
    color: #00ffe7;
    letter-spacing: 2px;
}

.logo span {
    color: #ff2aac;
}

.menu a {
    color: #e5e7eb;
    text-decoration: none;
    margin-left: 20px;
    font-size: 0.9rem;
}

.menu a:hover {
    color: #00ffe7;
}


.titulo {
    text-align: center;
    color: #00ffe7;
    font-size: 2rem;
    margin-bottom: 5px;
}

.subtitulo {
    text-align: center;
    font-size: 0.95rem;
    color: #9ca3af;
    margin-bottom: 30px;
}

.cards-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #0b1120;
    border: 1px solid #1f2937;
    border-radius: 10px;
    width: 300px;
    padding: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #00ffe7;
    box-shadow: 0 0 12px #00ffe7;
}

.card-img img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

h3 {
    margin-top: 12px;
    color: #ff2aac;
}

.precio {
    margin-top: 8px;
    font-size: 1.2rem;
    color: #00ffe7;
}

.precio-tachado {
    color: #6b7280;
    text-decoration: line-through;
    margin-left: 8px;
}

.descripcion {
    font-size: 0.85rem;
    color: #cbd5e1;
    margin: 10px 0 15px 0;
}

.card-btns {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 8px 14px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 0.85rem;
    color: white;
    transition: 0.2s;
}

.btn.rojo {
    background-color: #cc2936;
}

.btn.rojo:hover {
    background-color: #ff4455;
}

.btn.verde {
    background-color: #16a34a;
}

.btn.verde:hover {
    background-color: #22c55e;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #e5e7eb;
    margin: 4px 0;
    transition: 0.2s ease;
}

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .menu {
        position: absolute;
        top: 60px;
        right: 20px;
        background: #050816;
        border: 1px solid #1f2937;
        border-radius: 8px;
        padding: 12px;
        display: none;
        flex-direction: column;
        gap: 10px;
        z-index: 10;
    }

    .menu a {
        margin: 0;
        padding: 8px 0;
        display: block;
    }

    .menu.menu-open {
        display: flex;
    }
}
